.filter-container {
  background: var(--white);
  box-shadow: 0 0.1rem 0.4rem var(--lightGray);
  height: 100vh;
  overflow-y: auto;
  padding: 3rem 0;
  width: 20rem;
}

:is(.filter-container, .filter-md-container) > div {
  align-items: center;
  border-bottom: thin solid var(--lightBlue);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

:is(.filter-container, .filter-md-container) > ul:not(.p-2) {
  border-bottom: thin solid var(--lightBlue);
  padding: 1rem;
}

.btn-md-filter,
.filter-md-container {
  display: none;
}

.card-horizontal {
  height: 38rem;
  width: 20rem;
}
